
.card{
    // position: absolute;
    background-color: rgba(216, 112, 147, 0.767);
    padding: 30px;
    // margin: 4rem;
    border-radius: 10%;
    text-align: start;
    width: 100%;
    .link{
        display: flex;
        margin: 15px 0;
        align-items: center;
    }
    h3{
        color: white;
        font-size: 2rem;
    }
    img{
    height: 4rem;
    filter: invert(100%);
    margin-right: 5px;
}
a{
    text-decoration: none;
    color: white
    
    
}

}span{
    font-size: 2rem;
}