
.card{
    // position: absolute;
    background-color: palevioletred;
    h3{
        color: white;
    }
    img{
    height: 30px;
    filter: invert(100%);
}
a{
    text-decoration: none;
    color: white
}
}