.main {

  background-color: palevioletred;
  display: flex;
  justify-content: center;
    
}
.container {
  scroll-snap-align: center;
  height: 100vh;
  max-width: 80vw;
  min-width: 70vw;

}
.helper{

  height: 100%;

    display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info {
  max-width: 60rem;

  display: flex;

  flex-direction: column;
  align-items: flex-start;
  button {
    background-color: white;
    font-size: 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 600;
    margin: 20px 0px;
    color: #d87093;
    &:hover {
      transform: translate(0px, -5px);
    }
  }
}
.cupcake__title {
    font-size: 4rem;
    font-weight: 500;
  color: white;
  text-align: start;
}
.cupcake__subtitle {
  color: white;
  font-weight: 100;
  font-size: 2rem;
  text-align: start;
}

.cupcakeimg {

    max-width: 800px;
      max-height: inherit;

      top: 0;
      bottom: 0;

      right: 0;
      margin: auto;
    animation: animate 2s infinite ease alternate;
    @keyframes animate {
      to {
        transform: translate(0px, 20px);
      }
    }
  }
