.main {
  //   max-width: 1400px;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
    
}
.container {
  scroll-snap-align: center;
  height: 100vh;
max-width: 2000px;
  //   max-width: 1400px;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 20px;
  //   display: flex;
  //   justify-content: space-between;

}
.helper{
  // width: 1;
  height: 100%;
    display: flex;
    align-items:  center ;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   max-width: 1400px;
  //   flex-direction: column;
  //   align-items: flex-start;
}
.info {
  max-width: 60rem;
  //   display: flex;
  //   align-items: start;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  button {
    background-color: white;
    font-size: 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    padding: 1rem 2rem;
    font-weight: 600;
    margin: 20px 0px;
    color: palevioletred;

    &:hover {
      transform: translate(0px, -5px);
    }
  }
}
.cupcake__title {
    font-size: 4rem;
    font-weight: 500;
  color: white;
  text-align: start;
}
.cupcake__subtitle {
  color: white;
  font-weight: 100;
  font-size: 2rem;
  text-align: start;
}
.cupcake {
  //   width: 600px;
  img {
    // width: 500px;
    height: 300px;
    animation: animate 2s infinite ease alternate;
    @keyframes animate {
      to {
        transform: translate(0px, 20px);
      }
    }
  }
}
