// .container {
//   height: 100vh;
//   overflow: hidden;
//   //   background-color: rgb(205, 127, 140);
//   scroll-snap-align: center;
//   //   background-color: #d97093;
//     // max-width: 80vw;
//     // min-width: 70vw;
//     position: relative;
//     max-width: 80vw;
//       min-width: 70vw;
// }


.main {
  //   max-width: 1400px;
  background-color: rgb(254, 243, 245);
  display: flex;
  justify-content: center;
}

.container {
  height: 100vh;
  //   background-color: rgb(209, 183, 188);
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  min-width: 70vw;

}