.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1400px;
  align-items: center;
  img {
    width: 80px;
    height: 80px;
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 10px;
  }
}
