.main {
  //   max-width: 1400px;
  background-color: rgb(255, 233, 237);
  display: flex;
  justify-content: center;
}
.container {
  height: 100vh;
  //   background-color: rgb(209, 183, 188);
  scroll-snap-align: center;
}
.info {
  text-align: start;
  h1 {
    color: palevioletred;
  }
  h4 {
    font-weight: 100;
  }
}
