.main {
  //   max-width: 1400px;
  background-color: rgb(255, 233, 237);
  display: flex;
  justify-content: center;
}
.container {
  height: 100vh;
  //   background-color: rgb(209, 183, 188);
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
    max-width: 80vw;
      min-width: 70vw;
      
}
.info {
  text-align: start;
  padding-left: 50px;
  // height: 00px;
  // flex-shrink: 0;
  h1 {
    color: palevioletred;
  }
  h4 {
    font-weight: 200;
  }
}
.block {
  width:auto;
  // height: 1000px;
  padding: 100px;
}
