.main {
  //   max-width: 1400px;
  background-color: rgb(212, 139, 153);
  display: flex;
  justify-content: center;
}
.container {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
    max-width: 80vw;
      min-width: 70vw;
}
.titles {
  display: flex;
  flex-direction: column;
  text-align: start;

  button {
    background-color: transparent;
    border: none;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-weight: 600;
    font-size: 65px;
    text-align: start;
    cursor: pointer;
  
        &::after {
          color: #530e0e;
          //   &::after {
          //     // content: {(props) => props.text}};
          //     position: absolute;
          //     top: 0;
          //     left: 0;
          //   }
        }  &:hover {
      color: #ffffff;
      //   &::after {
      //     // content: {(props) => props.text}};
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //   }
    }
  }
}
